.custom-font{
    font-size: xxx-large;
    font-weight: 900;
    font-family: cursive;
}

.flex-align {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px
}

.bottom-border{
    border: 2px dotted #030303
}





