.heading-list {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    margin: 20px 0;
}

.header-text {
    font-weight: bold;
}

mat-table {
    width: 100%;
}

mat-paginator {
    flex-grow: 1;
}

.heading-list p {
    font-size: 24px;
    font-weight: bold;
    color: #6338b0;
}

mat-cell,
mat-header-cell {
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
}

mat-header-row {
    background-color: #e2e2e2;
}

mat-cell button {
    margin: 0 4px;
    color: #6338b0;
    font-weight: bolder;
}

mat-cell input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-size: 14px;
}

mat-row:hover {
    background-color: #94959b1d;
}

.mat-button {
    font-size: 14px;
    padding: 8px 12px;
}

.container {
    padding: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.filter-field {
    width: 250px;
    margin-left: 35px;
}

.example-form-field {
    width: 200px;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: white; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  .content-container {
    padding-top: 60px;
    margin-top: 20px;
  }
  
  .table-container {
    position: relative;
  }
    